%h1.left Projects Index
= link_to 'New Project', new_project_path, :class => "button secondary right small"

%table
  %thead
    %tr
      %th Image
      %th Name
      %th
      %th
  %tbody
    - @projects.each do |project|
      %tr
        %td= image_tag project.attachment.url(:thumb)
        %td= project.name
        %td{:width => "100px"}= link_to 'Edit', edit_project_path(project)
        %td{:width => "100px"}= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to 'New Project', new_project_path, :class => "button secondary small"
