<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%- if @category.id %>
      Position:
      <%= @category.position %>
      <br>
      <%= link_to fa_icon("arrow-circle-up 2x"), category_move_up_path(@category), :class => "left" %>
      <%= link_to fa_icon("arrow-circle-down 2x"), category_move_down_path(@category), :class => "left" %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => "button small success right" %>
    <%= link_to 'Back', categories_path, :class => "button small secondary left"  %>
    <%= link_to 'Delete', category_path(@category), :method => :delete, :data => {confirm: "Delete this category?"}, :class => "button alert small pad-left" if @category.id %>
  </div>
<% end %>
